.dark{
  --active-tab-marker:#16192b;
  --active-tab-marker-rgb:0,175,156;
  --app-background:#161925;
  --app-background-rgb:9.3,13.74,16.7;
  --app-background-deeper:#161925;
  --app-background-deeper-rgb:9.3,13.74,16.7;
  --app-background-stripe:transparent;
  --app-background-stripe-rgb:0,0,0;
  --attach-media-drop-border:rgba(241,241,242,0.2);
  --attach-media-drop-border-rgb:241,241,242;
  --attach-media-drop-overlay:rgba(56,61,63,0.3);
  --attach-media-drop-overlay-rgb:55.76,60.6,63.24;
  --audio-progress-incoming:#3cb362;
  --audio-progress-incoming-rgb:60,179,98;
  --audio-progress-outgoing:#5f9899;
  --audio-progress-outgoing-rgb:95,152,153;
  --audio-progress-played-incoming:#5ca0c2;
  --audio-progress-played-incoming-rgb:92,160,194;
  --audio-progress-played-outgoing:#55aacb;
  --audio-progress-played-outgoing-rgb:85,170,203;
  --audio-track-incoming:#3b4044;
  --audio-track-incoming-rgb:59,64,68;
  --audio-track-outgoing:#1d6f70;
  --audio-track-outgoing-rgb:29,111,112;
  --avatar-background:#161925;
  --avatar-background-rgb:18.6,28.22,33.4;
  --avatar-border:#a5aaad;
  --avatar-border-rgb:165,170,173;
  --avatar-placeholder-background:#6e7377;
  --avatar-placeholder-background-rgb:110,115,119;
  --avatar-placeholder-primary:#d6d7d9;
  --avatar-placeholder-primary-rgb:214,215,217;
  --background-default:#161925;
  --background-default-rgb:18.6,28.22,33.4;
  --background-default-active:#161925;
  --background-default-active-rgb:49.815,54.58382,57.185;
  --background-default-hover:#2d3134;
  --background-default-hover-rgb:44.745,49.27333,52.155;
  --badge-border:#d4d5d7;
  --badge-border-rgb:212,213,215;
  --badge-pending:#07e6ea;
  --badge-pending-rgb:7,230,234;
  --border-bubble:rgba(241,241,242,0.12);
  --border-bubble-rgb:241,241,242;
  --border-default:#242d32;
  --border-default-rgb:36,45,50;
  --border-list:#30383d;
  --border-list-rgb:48,56,61;
  --border-panel:#30373b;
  --border-panel-rgb:48,55,59;
  --border-strong:#3b4347;
  --border-strong-rgb:59,67,71;
  --border-stronger:rgba(241,241,242,0.11);
  --border-stronger-rgb:241,241,242;
  --bubble-meta:rgba(241,241,242,0.63);
  --bubble-meta-rgb:241,241,242;
  --bubble-meta-icon:rgba(241,241,242,0.63);
  --bubble-meta-icon-rgb:241,241,242;
  --butterbar-battery-background:#a7494c;
  --butterbar-battery-background-rgb:167,73,76;
  --butterbar-battery-icon:#f5d6d7;
  --butterbar-battery-icon-rgb:245,214,215;
  --butterbar-battery-primary:rgba(241,241,242,0.96);
  --butterbar-battery-primary-rgb:241,241,242;
  --butterbar-battery-secondary:rgba(241,241,242,0.75);
  --butterbar-battery-secondary-rgb:241,241,242;
  --butterbar-connection-background:#d7a53b;
  --butterbar-connection-background-rgb:215,165,59;
  --butterbar-connection-primary:rgba(9,14,17,0.96);
  --butterbar-connection-primary-rgb:9.3,13.74,16.7;
  --butterbar-connection-secondary:rgba(9,14,17,0.75);
  --butterbar-connection-secondary-rgb:9.3,13.74,16.7;
  --butterbar-default-background:#07e6ea;
  --butterbar-default-background-rgb:8,83,115;
  --butterbar-fatal-background:#d7a53b;
  --butterbar-fatal-background-rgb:215,165,59;
  --butterbar-fatal-primary:rgba(9,14,17,0.96);
  --butterbar-fatal-primary-rgb:9.3,13.74,16.7;
  --butterbar-fatal-secondary:rgba(9,14,17,0.75);
  --butterbar-fatal-secondary-rgb:9.3,13.74,16.7;
  --butterbar-icon:rgba(241,241,242,0.8);
  --butterbar-icon-rgb:241,241,242;
  --butterbar-notice-background:#2d383e;
  --butterbar-notice-background-rgb:45,56,62;
  --butterbar-notice-circle:#384b55;
  --butterbar-notice-circle-rgb:56,75,85;
  --butterbar-notice-icon:#7bb5ae;
  --butterbar-notice-icon-rgb:123,181,174;
  --butterbar-notice-smb-background:#2d383e;
  --butterbar-notice-smb-background-rgb:45,56,62;
  --butterbar-notice-smb-circle:#384b55;
  --butterbar-notice-smb-circle-rgb:56,75,85;
  --butterbar-notice-smb-icon:#7bb5ae;
  --butterbar-notice-smb-icon-rgb:123,181,174;
  --butterbar-notification-icon:#8eb2be;
  --butterbar-notification-icon-rgb:142,178,190;
  --butterbar-primary:rgba(241,241,242,0.96);
  --butterbar-primary-rgb:241,241,242;
  --butterbar-secondary:rgba(241,241,242,0.75);
  --butterbar-secondary-rgb:241,241,242;
  --butterbar-update-background:#16192b;
  --butterbar-update-background-rgb:5,97,98;
  --butterbar-update-icon:#8eafaa;
  --butterbar-update-icon-rgb:142,175,170;
  --button-alternative:#ff3cad;
  --button-alternative-rgb:104,187,228;
  --button-alternative-background:#161925;
  --button-alternative-background-rgb:38,45,49;
  --button-background-disabled:#161925;
  --button-background-disabled-rgb:41.6,47.46667,50.4;
  --button-bubble:rgba(0,175,156,0.7);
  --button-bubble-rgb:0,175,156;
  --button-plain-background:#2f3437;
  --button-plain-background-rgb:47.1,51.86667,54.9;
  --button-primary:#161925;
  --button-primary-rgb:18.6,28.22,33.4;
  --button-primary-background:#00c3ae;
  --button-primary-background-rgb:0,175,156;
  --button-primary-background-hover:#00c3ae;
  --button-primary-background-hover-rgb:0,195.4,174.18514;
  --button-round-background:#16192b;
  --button-round-background-rgb:0,175,156;
  --button-secondary:#16192b;
  --button-secondary-rgb:0,175,156;
  --button-secondary-background:transparent;
  --button-secondary-background-rgb:0,0,0;
  --button-secondary-background-hover:rgba(241,241,242,0.05);
  --button-secondary-background-hover-rgb:241,241,242;
  --button-secondary-hover:#16192b;
  --button-secondary-hover-rgb:0,175,156;
  --chat-marker:#999;
  --chat-marker-rgb:153,153,153;
  --chat-marker-admin:#16192b;
  --chat-marker-admin-rgb:0,175,156;
  --chat-marker-admin-border:rgba(0,175,156,0.7);
  --chat-marker-admin-border-rgb:0,175,156;
  --chat-marker-border:hsla(0,0%,60%,0.7);
  --chat-marker-border-rgb:153,153,153;
  --chatlist-icon:rgba(241,241,242,0.63);
  --chatlist-icon-rgb:241,241,242;
  --checkbox-background:#16192b;
  --checkbox-background-rgb:0,175,156;
  --checkbox-mark:#161925;
  --checkbox-mark-rgb:18.6,28.22,33.4;
  --chevron-button-background:rgba(241,241,242,0.35);
  --chevron-button-background-rgb:241,241,242;
  --compose-input-background:#161920;
  --compose-input-background-rgb:51.22296,56.04619,58.67704;
  --compose-input-background-focused:#161920;
  --compose-input-background-focused-rgb:63,85,96;
  --compose-input-border:#161920;
  --compose-input-border-rgb:51.22296,56.04619,58.67704;
  --compose-input-border-focused:#415a67;
  --compose-input-border-focused-rgb:65,90,103;
  --compose-panel-background:#161920;
  --compose-panel-background-rgb:29.591,36.36026,40.309;
  --compose-panel-background-hover:#151e23;
  --compose-panel-background-hover-rgb:21,30,35;
  --compose-primary:#c1c1c1;
  --compose-primary-rgb:241,241,242;
  --conversation-panel-background:#0d1418;
  --conversation-panel-background-rgb:13.12731,19.91681,23.57269;
  --conversation-panel-border:rgba(241,241,242,0.12);
  --conversation-panel-border-rgb:241,241,242;
  --danger:#ef697a;
  --danger-rgb:239,105,122;
  --drawer-background:#161925;
  --drawer-background-rgb:18.6,28.22,33.4;
  --drawer-background-deep:#0d1418;
  --drawer-background-deep-rgb:13.12731,19.91681,23.57269;
  --drawer-gallery-background:#161925;
  --drawer-gallery-background-rgb:18.6,28.22,33.4;
  --drawer-gallery-background-active:#0d1418;
  --drawer-gallery-background-active-rgb:13.12731,19.91681,23.57269;
  --drawer-gallery-background-hover:#0d1418;
  --drawer-gallery-background-hover-rgb:13.12731,19.91681,23.57269;
  --drawer-header-title:#e1e1e3;
  --drawer-header-title-rgb:225,225,227;
  --drawer-section-background:#161925;
  --drawer-section-background-rgb:18.6,28.22,33.4;
  --dropdown-background:#161925;
  --dropdown-background-rgb:41.6,47.46667,50.4;
  --dropdown-background-hover:#20272b;
  --dropdown-background-hover-rgb:31.75,39.01316,43.25;
  --empty-state-background:#20272b;
  --empty-state-background-rgb:31.75,39.01316,43.25;
  --empty-state-icon:#777c7f;
  --empty-state-icon-rgb:119,124,127;
  --ephemeral-nux-bubble:#07e6ea;
  --ephemeral-nux-bubble-rgb:0,191,165;
  --ephemeral-nux-timer:#07e6ea;
  --ephemeral-nux-timer-rgb:0,191,165;
  --focus:#ff3cad;
  --focus-rgb:104,187,228;
  --focus-animation:rgba(104,187,228,0.26);
  --focus-animation-rgb:104,187,228;
  --focus-animation-deeper:rgba(104,187,228,0.32);
  --focus-animation-deeper-rgb:104,187,228;
  --focus-lighter:rgba(104,187,228,0.12);
  --focus-lighter-rgb:104,187,228;
  --highlight:#fffb02;
  --highlight-rgb:0,175,156;
  --icon:#828689;
  --icon-rgb:130,134,137;
  --icon-ack:#ff3cad;
  --icon-ack-rgb:52,183,241;
  --icon-disabled:#3f4549;
  --icon-disabled-rgb:63,69,73;
  --icon-fixed:#828689;
  --icon-fixed-rgb:130,134,137;
  --icon-lighter:rgba(241,241,242,0.3);
  --icon-lighter-rgb:241,241,242;
  --icon-search-back:#73787b;
  --icon-search-back-rgb:115,120,123;
  --icon-strong:#c5c6c8;
  --icon-strong-rgb:197,198,200;
  --icon-bright-highlight:#fffb02;
  --icon-bright-highlight-rgb:0,175,156;
  --incoming-background:#161925;
  --incoming-background-rgb:22,25,37;
  --incoming-background-deeper:#161925;
  --incoming-background-deeper-rgb:32,38,42;
  --incoming-background-highlight:#ccc;
  --incoming-background-highlight-rgb:204,204,204;
  --incoming-primary:#797c7e;
  --incoming-primary-rgb:121,124,126;
  --input-border:rgba(241,241,242,0.15);
  --input-border-rgb:241,241,242;
  --input-border-active:#16192b;
  --input-border-active-rgb:0,175,156;
  --input-placeholder:rgba(241,241,242,0.43);
  --input-placeholder-rgb:241,241,242;
  --intro-background:#161925;
  --intro-background-rgb:22,25,37;
  --intro-border:#ff3cad;
  --intro-border-rgb:5,97,98;
  --intro-logo:rgba(241,241,242,0.26);
  --intro-logo-rgb:241,241,242;
  --intro-secondary:#a6a8aa;
  --intro-secondary-rgb:166,168,170;
  --inverse:#9c27b0;
  --inverse-rgb:241,241,242;
  --labels-icon:rgba(241,241,242,0.4);
  --labels-icon-rgb:241,241,242;
  --link:#c1c1c1;
  --link-rgb:104,187,228;
  --live-location-footer-background:rgba(19,28,33,0.9);
  --live-location-footer-background-rgb:18.6,28.22,33.4;
  --live-location-glow:rgba(37,211,102,0.3);
  --live-location-glow-rgb:37,211,102;
  --live-location-glow-stale:rgba(255,0,31,0.3);
  --live-location-glow-stale-rgb:255,0,31;
  --location-cluster-background:#161925;
  --location-cluster-background-rgb:18.6,28.22,33.4;
  --map-overlay-background:rgba(19,28,33,0.6);
  --map-overlay-background-rgb:18.6,28.22,33.4;
  --map-overlay-foreground:#161925;
  --map-overlay-foreground-rgb:241,241,242;
  --media-editor-control:#1c313f;
  --media-editor-control-rgb:28,49,63;
  --media-inner-border:hsla(0,0%,100%,0.1);
  --media-inner-border-rgb:255,255,255;
  --media-viewer-background:rgba(19,28,33,0.98);
  --media-viewer-background-rgb:18.6,28.22,33.4;
  --media-viewer-button-background:#161925;
  --media-viewer-button-background-rgb:22,25,37;
  --media-viewer-button-icon:#161925;
  --media-viewer-button-icon-rgb:241,241,242;
  --menu-context-sticker-icon:rgba(241,241,242,0.5);
  --menu-context-sticker-icon-rgb:241,241,242;
  --menu-context-sticker-icon-inverse:rgba(48,48,48,0.5);
  --menu-context-sticker-icon-inverse-rgb:48,48,48;
  --menu-tabs-list-active:#16192b;
  --menu-tabs-list-active-rgb:0,175,156;
  --message-background-deep:rgba(9,14,17,0.35);
  --message-background-deep-rgb:9.3,13.74,16.7;
  --message-placeholder-icon:hsla(0,0%,80%,0.3);
  --message-placeholder-icon-rgb:204,204,204;
  --message-primary:rgba(241,241,242,0.95);
  --message-primary-rgb:241,241,242;
  --message-selection-highlight:rgba(241,241,242,0.05);
  --message-selection-highlight-rgb:241,241,242;
  --modal-backdrop:rgba(9,14,17,0.85);
  --modal-backdrop-rgb:9.3,13.74,16.7;
  --modal-backdrop-solid:#20272b;
  --modal-backdrop-solid-rgb:31.75,39.01316,43.25;
  --modal-background:#3b4042;
  --modal-background-rgb:59,63.52941,66;
  --notification-biz-background:#20272b;
  --notification-biz-background-rgb:31.75,39.01316,43.25;
  --notification-biz-text:#55fad9;
  --notification-biz-text-rgb:85,250,217;
  --notification-e2e-background:#20272b;
  --notification-e2e-background-rgb:31.75,39.01316,43.25;
  --notification-e2e-icon:#fad964;
  --notification-e2e-icon-rgb:250,217,100;
  --notification-e2e-text:#fad964;
  --notification-e2e-text-rgb:250,217,100;
  --notification-info-icon:#55fad9;
  --notification-info-icon-rgb:85,250,217;
  --notification-text:rgba(241,241,242,0.4);
  --notification-text-rgb:241,241,242;
  --outgoing-background:#16192b;
  --outgoing-background-rgb:25,25,47;
  --outgoing-background-deeper:#16192f;
  --outgoing-background-deeper-rgb:6,80,81;
  --outgoing-background-highlight:#ccc;
  --outgoing-background-highlight-rgb:204,204,204;
  --overlay:#161925;
  --overlay-rgb:9.3,13.74,16.7;
  --panel-background:#20272b;
  --panel-background-rgb:31.75,39.01316,43.25;
  --panel-background-active:#1e2529;
  --panel-background-active-rgb:30,37,41;
  --panel-background-colored:#161925;
  --panel-background-colored-rgb:49.815,54.58382,57.185;
  --panel-background-colored-deeper:#161925;
  --panel-background-colored-deeper-rgb:49.815,54.58382,57.185;
  --panel-background-deep:#191f23;
  --panel-background-deep-rgb:25,31,35;
  --panel-background-deeper:#1e2429;
  --panel-background-deeper-rgb:30,36,41;
  --panel-background-hover:#1e2429;
  --panel-background-hover-rgb:30,36,41;
  --panel-background-lighter:#1e2429;
  --panel-background-lighter-rgb:30,36,41;
  --panel-header-background:#161925;
  --panel-header-background-rgb:41.6,47.46667,50.4;
  --panel-header-icon:#b1b3b5;
  --panel-header-icon-rgb:177,179,181;
  --panel-input-background:#161925;
  --panel-input-background-rgb:22,25,37;
  --panel-primary:rgba(241,241,242,0.35);
  --panel-primary-rgb:241,241,242;
  --payment-amount:#ff3cad;
  --payment-amount-rgb:0,164.8,146.90743;
  --payment-status-failed:#ef697a;
  --payment-status-failed-rgb:239,105,122;
  --payment-status-processing:rgba(241,241,242,0.45);
  --payment-status-processing-rgb:241,241,242;
  --payment-status-success:#ac51ea;
  --payment-status-success-rgb:64,207,108;
  --payment-status-waiting:rgba(241,241,242,0.45);
  --payment-status-waiting-rgb:241,241,242;
  --photopicker-overlay-background:rgba(35,43,47,0.8);
  --photopicker-overlay-background-rgb:35,43,47;
  --picker-background:#161925;
  --picker-background-rgb:41.6,47.46667,50.4;
  --popup-panel-background:#161925;
  --popup-panel-background-rgb:18.6,28.22,33.4;
  --primary:#d4d5d7;
  --primary-rgb:212,213,215;
  --primary-strong:rgba(241,241,242,0.92);
  --primary-strong-rgb:241,241,242;
  --primary-stronger:rgba(241,241,242,0.88);
  --primary-stronger-rgb:241,241,242;
  --primary-strongest:#fff;
  --primary-strongest-rgb:255,255,255;
  --primary-title:rgba(241,241,242,0.88);
  --primary-title-rgb:241,241,242;
  --product-image-button-background:rgba(9,14,17,0.35);
  --product-image-button-background-rgb:9.3,13.74,16.7;
  --product-thumb-background:#20272b;
  --product-thumb-background-rgb:31.75,39.01316,43.25;
  --product-thumb-background-deeper:#313c43;
  --product-thumb-background-deeper-rgb:49.022,60.23632,66.778;
  --product-thumb-overlay-background:rgba(0,0,0,0.5);
  --product-thumb-overlay-background-rgb:0,0,0;
  --product-thumb-overlay-text:#f1f1f2;
  --product-thumb-overlay-text-rgb:241,241,242;
  --progress-background:#161925;
  --progress-background-rgb:41.6,47.46667,50.4;
  --progress-primary:#fffb02;
  --progress-primary-rgb:12,137,124;
  --ptt-blue:#34b7f1;
  --ptt-blue-rgb:52,183,241;
  --ptt-button-cancel:#ef697a;
  --ptt-button-cancel-rgb:239,105,122;
  --ptt-button-send:#ac51ea;
  --ptt-button-send-rgb:64,207,108;
  --ptt-gray:rgba(241,241,242,0.4);
  --ptt-gray-rgb:241,241,242;
  --ptt-green:#ac51ea;
  --ptt-green-rgb:9,210,97;
  --ptt-message-blue:#ff3cad;
  --ptt-message-blue-rgb:104,187,228;
  --quick-action-button:rgba(241,241,242,0.5);
  --quick-action-button-rgb:241,241,242;
  --quick-action-button-background:rgba(9,14,17,0.6);
  --quick-action-button-background-rgb:9.3,13.74,16.7;
  --rich-text-panel-background:#161920;
  --rich-text-panel-background-rgb:29.591,36.36026,40.309;
  --search-container-background:#161925;
  --search-container-background-rgb:18.6,28.22,33.4;
  --search-input-background:#161925;
  --search-input-background-rgb:49.815,54.58382,57.185;
  --secondary:rgba(241,241,242,0.63);
  --secondary-rgb:241,241,242;
  --secondary-light:rgba(241,241,242,0.25);
  --secondary-light-rgb:241,241,242;
  --secondary-lighter:rgba(241,241,242,0.45);
  --secondary-lighter-rgb:241,241,242;
  --secondary-stronger:rgba(241,241,242,0.8);
  --secondary-stronger-rgb:241,241,242;
  --security-icon-background:#d3ede6;
  --security-icon-background-rgb:211,237,230;
  --security-icon-lock:#1fc4b1;
  --security-icon-lock-rgb:31,196,177;
  --security-icon-shield:#f0faf7;
  --security-icon-shield-rgb:240,250,247;
  --shadow:#000;
  --shadow-rgb:0,0,0;
  --shadow-light:rgba(0,0,0,0.08);
  --shadow-light-rgb:0,0,0;
  --spinner-default:#75787a;
  --spinner-default-rgb:117,120,122;
  --spinner-highlight:#16192b;
  --spinner-highlight-rgb:0,175,156;
  --spinner-incoming:#63686b;
  --spinner-incoming-rgb:99,104,107;
  --spinner-outgoing:#4c8c8d;
  --spinner-outgoing-rgb:76,140,141;
  --startup-background:#161925;
  --startup-background-rgb:18.6,28.22,33.4;
  --startup-icon:#6c7175;
  --startup-icon-rgb:108,113,117;
  --status-background:#000;
  --status-background-rgb:0,0,0;
  --status-background-hover:#242424;
  --status-background-hover-rgb:36,36,36;
  --status-primary:#fff;
  --status-primary-rgb:255,255,255;
  --status-secondary:hsla(0,0%,100%,0.55);
  --status-secondary-rgb:255,255,255;
  --status-secondary-stronger:#b3b3b3;
  --status-secondary-stronger-rgb:179,179,179;
  --success:#16192b;
  --success-rgb:0,175,156;
  --suspicious-background:rgba(239,105,122,0.8);
  --suspicious-background-rgb:239,105,122;
  --system-message-background:#1e2a30;
  --system-message-background-rgb:30,42,48;
  --system-message-text:rgba(241,241,242,0.92);
  --system-message-text-rgb:241,241,242;
  --teal:#07e6ea;
  --teal-hover:#07e6ea;
  --teal-hover-rgb:7,230,234;
  --teal-pale:#07e6ea;
  --teal-pale-rgb:95,200,188;
  --thumb-border-active:#75787a;
  --thumb-border-active-rgb:117,120,122;
  --thumb-border-active-new-media-editor:#161925;
  --thumb-border-active-new-media-editor-rgb:241,241,242;
  --thumb-border-viewer-active:#75787a;
  --thumb-border-viewer-active-rgb:117,120,122;
  --toast-background:rgba(9,14,17,0.96);
  --toast-background-rgb:9.3,13.74,16.7;
  --tooltip-text:#000;
  --tooltip-text-rgb:0,0,0;
  --tooltip-background:#fff;
  --tooltip-background-rgb:255,255,255;
  --typing:#fffb02;
  --typing-rgb:0,175,156;
  --unread-background:#20272b;
  --unread-background-rgb:31.75,39.01316,43.25;
  --unread-bar-background:rgba(9,14,17,0.6);
  --unread-bar-background-rgb:9.3,13.74,16.7;
  --unread-marker-background:#fffb02;
  --unread-marker-background-rgb:0,175,156;
  --unread-marker-background-muted:rgba(241,241,242,0.63);
  --unread-marker-background-muted-rgb:241,241,242;
  --unread-marker-text:#161925;
  --unread-marker-text-rgb:18.6,28.22,33.4;
  --vcard-placeholder-background:rgba(241,241,242,0.04);
  --vcard-placeholder-background-rgb:241,241,242;
  --vcard-placeholder-background-deeper:rgba(241,241,242,0.12);
  --vcard-placeholder-background-deeper-rgb:241,241,242;
  --video-player-background:#000;
  --video-player-background-rgb:0,0,0;
  --video-primary:#fff;
  --video-primary-rgb:255,255,255;
  --voip-accept-background:#07e6ea;
  --voip-accept-background-rgb:46,196,82;
  --voip-background:#262626;
  --voip-background-rgb:38,38,38;
  --voip-background-deep:#000;
  --voip-background-deep-rgb:0,0,0;
  --voip-controls-background:#2d2d2d;
  --voip-controls-background-rgb:45,45,45;
  --voip-primary:#fff;
  --voip-primary-rgb:255,255,255;
  --voip-alternative:#000;
  --voip-alternative-rgb:0,0,0;
  --voip-reject-background:#ff3b30;
  --voip-reject-background-rgb:255,59,48;
  --voip-disabled-background:#222;
  --voip-disabled-background-rgb:34,34,34;
  --wallpaper-background:#0d1418;
  --wallpaper-background-rgb:13.12731,19.91681,23.57269;
  --wallpaper-thumb-border-active:#75787a;
  --wallpaper-thumb-border-active-rgb:117,120,122;
  --wallpaper-thumb-border-hover:#3b4042;
  --wallpaper-thumb-border-hover-rgb:59,63.52941,66;
  --win32-title-primary:#fff;
  --win32-title-primary-rgb:255,255,255
}